node_modules
npm-debug.log
.git
.gitignore
.DS_Store
*.md
!README.md
.env
.env.local
dist
backend/uploads/*
!backend/uploads/.gitkeep
backend/iso_output/*
!backend/iso_output/.gitkeep
backend/iso_workspace/*
!backend/iso_workspace/.gitkeep
frontend/dist
backend/dist
.vscode
.idea
*.log
